{% extends "base.html" %}
{% block title %} Welcome to the world of meeting planners{% endblock %}
{% block content %}
<h1> Welcome to Meeting Planner Page!!!</h1>
<p>
    This is a demo application for the course <em> GETTING STARTED WITH DJANGO!!!</em>
    done by <a href="https://twitter.com/bindian0509">@bharatv</a> from twitter.
</p>

<h2> Total Meetings</h2>
<ul>
    {% for meeting in meetings %}
    <li>
        <a href="{% url 'detail' meeting.id %}"> {{meeting.title}}</a>
    </li>
    {% endfor %}
</ul>

<h2> Total Rooms</h2>

<ul>
    {% for room in rooms %}
    <li>
        <a href="{% url 'room' room.id %}"> {{room.name}}</a>
    </li>
    {% endfor %}
</ul>
<h3>Know more <a href="{% url 'about_me' %}">about me!</a></h3>
{% endblock %}